{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">
  <div class="row container-alignment">
    <!--Carousel 1 Start-->
    <div class="col container1-size">
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="20000">
            <a href="{% url 'services' %}" target="_blank">
              <img src="{% static 'images/carrousel_creative_editing.png' %}" class="d-block w-100" alt="...">
            </a>
          </div>
          <div class="carousel-item" data-interval="2000">
            <a href="{% url 'services' %}" target="_blank">
              <img src="{% static 'images/carrousel_academic_proofreading_consultation.png' %}" class="d-block w-100"
                alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% url 'services' %}" target="_blank">
              <img src="{% static 'images/carrousel_book_formatting.png' %}" class="d-block w-100" alt="...">
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
    <!--Carousel 1 End-->
    <!--Carousel 2 Start-->
    <div class="col hide-element">
      <div id="carouselExampleInterval1" class="carousel slide" data-ride="carousel1">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="20000">
            <a href="{% url 'services' %}" target="_blank">
              <img src="{% static 'images/carrousel_web_development.png' %}" class="d-block w-100" alt="...">
            </a>
          </div>
          <div class="carousel-item" data-interval="2000">
            <a href="{% url 'services' %}" target="_blank">
              <img src="{% static 'images/carrousel_general_promotions.png' %}" class="d-block w-100" alt="...">
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% url 'services' %}" target="_blank">
              <img src="{% static 'images/carrousel_testimoniala.png' %}" class="d-block w-100" alt="...">
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!--Carousel 2 End-->
  </div>
  <hr>
  <div class="row">
    <!--Blog Post Start-->
    <div class="col">
      {% for post in posts %}
      <div class="mastheadhome">
        <div class="container">
          <div class="row g-0 post-alignent">
            <div class="col-md-6 masthead-text">
              <a href="/blog">
                <h1 class="post-title">{{ post.title }}</h1>
              </a>
              <p class="post-subtitle">{{ post.author.username }} | {{ post.date_published }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
              <img src="{% static 'images/book_blog_post.png' %}" class="scale" alt="placeholder">
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

      <hr>


      <h1>Author's Works</h1>

      {% for work in authors_works %}
      <div class="work">
        {% if work.img %}
        <img class="img-alignment" src="{{ work.img.url }}" alt="{{ work.title }} image">
        {% endif %}
        <h2>{{ work.title }} | {{ work.author_name }}</h2>
        <p>{{ work.work_description | safe }} </p>
        {% if work.work_url %}
        <a href="{{ work.work_url }}" class="btn btn-primary" target="_blank">View Work</a>
        {% endif %}
      </div>
      {% endfor %}
      <hr>

    </div>
    <!--Blog Post End-->
    <!--Website Content Start-->
    <div class="col">
      <!--Services Hint Section-->
      <h1>What Services Are on Offer?</h1>

      <p>I provide a range of services that can be tailored to your needs, including:</p>
      <h2>Editorial Services</h2>
      <ul>
        <li>Manuscript Critiques</li>
        <li>Developmental Editing</li>
        <li>Copyediting</li>
        <li>Proofreading</li>
      </ul>

      <br>

      <h3>Editing and Proofreading Process</h3>


      <ol>
        <li>
          Inquiry and Consultation:
          <ul>
            <li>
              A response to the inquiry, requesting the manuscript or document for review.
            </li>
            <li>
              A free preliminary reading and consultation to assess needs and discuss the scope of
              the project.
            </li>
            <li>
              A personalised quote is provided based on the type of editing required, word count, and any specific
              requests.
            </li>
          </ul>
        </li>
        <li>
          Project Agreement and Payment:
          <ul>
            <li>
              Agreement to the terms and conditions and makes the payment (or arranges a payment plan).
            </li>
            <li>
              A timeline is established, with clear deadlines for each stage of the process.
            </li>
          </ul>
        </li>
        <li>
          Editing and Feedback:
          <ul>
            <li>
              The agreed-upon editing services (e.g., developmental editing, copyediting, proofreading) are completed.
            </li>
            <li>
              The edited manuscript is returned to the client with clear and constructive feedback, using track
              changes and
              comments.
            </li>
          </ul>
        </li>
        <li>
          Revisions and Finalisation:
          <ul>
            <li>
              The client reviews the edited manuscript and provides feedback or requests revisions.
            </li>
            <li>
              Feedback is addressed and a revised version of the manuscript is provided.
            </li>
            <li>
              Process may be repeated until the client is satisfied with the final product.
            </li>
          </ul>
        </li>
        <li>
          Final Delivery:
          <ul>
            <li>
              The final manuscript is delivered in the requested format (e.g., Word document, PDF).
            </li>
            <li>
              Dean Crystal provides ongoing support and answers any questions a client may have.
            </li>
          </ul>
        </li>
      </ol>

      <a href="{% url 'services' %}" class="btn btn-primary" target="_blank">Order Now!</a>
      <hr>

      <h2>Formatting</h2>
      <ul>
        <li>Ebook Formatting</li>
        <li>Print Formatting</li>
        <li>Typesetting</li>
      </ul>
      <br>
      <h3>Book Formatting Process</h3>

      <ol>
        <li>
          Inquiry and Consultation:
          <ul>
            <li>
              Dean Crystal responds to the inquiry, requesting the manuscript and any relevant details (e.g., trim
              size,
              desired format).
            </li>
            <li>
              A consultation is conducted to discuss the client's formatting preferences and goals.
            </li>
            <li>
              A personalized quote is provided based on the complexity of the formatting and any additional services
              required
              (e.g., typesetting, cover design).
            </li>
          </ul>
        </li>
        <li>
          Project Agreement and Payment:
          <ul>
            <li>
              The client agrees to the terms and conditions and makes the payment (or arranges a payment plan).
            </li>
            <li>
              A timeline for the project is established, with clear deadlines for each stage of the formatting
              process.
            </li>
          </ul>
        </li>
        <li>
          Formatting and Proofing:
          <ul>
            <li>
              Dean Crystal formats the manuscript according to industry standards and the client's preferences.
            </li>
            <li>
              A proof copy is generated and reviewed for any errors or inconsistencies.
            </li>
          </ul>
        </li>
        <li>
          Client Review and Revisions:
          <ul>
            <li>
              The client reviews the proof copy and provides feedback or requests revisions.
            </li>
            <li>
              Dean Crystal addresses the client's feedback and provides a revised version of the formatted manuscript.
            </li>
            <li>
              This process may be repeated until the client is satisfied with the final product.
            </li>
          </ul>
        </li>
        <li>
          Final Delivery:
          <ul>
            <li>
              The final formatted files are delivered to the client in the requested formats (e.g., .mobi for Kindle,
              .epub
              for other ebook readers, PDF for print).
            </li>
            <li>
              Dean Crystal provides guidance on publishing and distribution options.
            </li>
          </ul>
        </li>
      </ol>
      <a href="{% url 'services' %}" class="btn btn-primary" target="_blank">Order Now!</a>
      <hr>

      <h2>Web Development</h2>
      <ul>
        <li>Website Design and Development</li>
        <li>Content Management Systems</li>
      </ul>
      <br>
      <h3>Full-Stack Web Development Process</h3>
      <ol>
        <li>
          Inquiry and Consultation:
          <ul>
            <li>
              Dean Crystal responds to the inquiry, requesting details about the project (e.g., website type,
              features, design
              preferences).
            </li>
            <li>
              A consultation is conducted to discuss the client's needs, goals, and budget.
            </li>
            <li>
              A detailed proposal is provided outlining the project scope, timeline, and cost.
            </li>
          </ul>
        </li>
        <li>
          Project Agreement and Payment:
          <ul>
            <li>
              The client agrees to the proposal and makes the payment (or arranges a payment plan).
            </li>
            <li>
              A contract is signed outlining the project deliverables and timelines.
            </li>
          </ul>
        </li>
        <li>
          Design and Development:
          <ul>
            <li>
              Dean Crystal creates wireframes and mockups to visualize the website's structure and design.
            </li>
            <li>
              The client provides feedback and approves the design.
            </li>
            <li>
              The website is developed using the agreed-upon technologies (e.g., Django, HTML, CSS, JavaScript).
            </li>
            <li>
              Regular updates and progress reports are provided to the client.
            </li>
          </ul>
        </li>
        <li>
          Testing and Deployment:
          <ul>
            <li>
              The website is thoroughly tested on various devices and browsers to ensure functionality and
              responsiveness.
            </li>
            <li>
              The client reviews and approves the final version of the website.
            </li>
            <li>
              The website is deployed to a hosting platform (e.g., Heroku, PythonAnywhere).
            </li>
          </ul>
        </li>
        <li>
          Maintenance and Support:
          <ul>
            <li>
              Ongoing maintenance and support are provided as needed, including bug fixes, updates, and security
              patches.
            </li>
            <li>
              Dean Crystal offers training and documentation to help the client manage their website
            </li>
          </ul>
        </li>
      </ol>
      <a href="{% url 'services' %}" class="btn btn-primary" target="_blank">Order Now!</a>

      <hr>

      <p>Want to know more? Head over to Dean Crystal's
        <a href="https://8000-mxcrystalj-deancrystal-c7gck3irdrq.ws.codeinstitute-ide.net./services/">Services Page</a>
        to see how they can help you to hit your goals.
      </p>

      <br>

      <a href="{% url 'services' %}" class="btn btn-primary" target="_blank">Order Now!</a>

      <hr>


    </div>
    <!--Services Content End-->
    <!--Newsletter & Bookfeed Start-->
    <div class="col">
      <h1>Newsletter</h1>
      <h2>Ready to Get Regular Updates?</h2>

      <p>Sign up for my newsletter to stay updated on the latest blog posts, service offerings, and exclusive tips for
        writers and developers.</p>

      <form method="POST">
        {% csrf_token %}
        {{ newsletter_form.as_p }}
        <p><a href="{% url 'terms_conditions' %}">Read T&C Here!</a></p>
        <button class="btn btn-primary" type="submit">Subscribe</button>
      </form>

      <hr>

      <h2>Book & Coding News</h2>
      <ul class="ul-booknews-alignment">
        {% for news_item in book_news %}
        <li><img class="news-img" src="{{ news_item.img.url }}" alt="{{ news_item.title }} logo image">
          <a href="{{ news_item.link }}" class="btn btn-primary btn-center news-buttons"
            target="_blank">{{ news_item.title }}</a>
        </li>
        {% endfor %}
      </ul>

      <!--Newsletter & Bookfeed End-->


    </div>

  </div>
</div>

<hr>

<h1>Testimonials</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      {% for testimonial in testimonials %}
      <div class="testimonial">
        <p>"{{ testimonial.content | safe }}"</p>
        <p>- {{ testimonial.user_id.username }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}