{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}



{% if user.is_authenticated %}
<h2>Your Orders</h2>
{% if orders %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Service</th>
                <th>Description</th>
                <th>Word Count Range</th>
                <th>Order Date</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.service_id }}</td>
                <td>{{ order.order_description }}</td>
                <td>{{ order.word_count_range }}</td>
                <td>{{ order.order_date }}</td>
                <td>£{{ order.total_price }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <a href="{% url 'edit_order' order.order_id %}" class="btn btn-secondary btn-sm">Edit</a>
                    <a href="{% url 'delete_order' order.order_id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>You have no orders yet.</p>
{% endif %}
{% else %}
<p>Please <a href="{% url 'account_login' %}">log in</a> to view your orders.</p>
{% endif %}




{% endblock %}