{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row card-page-sizing">
    <h1>Creative Writing Editorial Process (Includes Developmental Editing and Proofreading)</h1>
    <br>
    <p>
        This service offers a thorough review and refinement of your creative writing, 
        encompassing various aspects to ensure your manuscript is ready for its next stage.
    </p>
    <br>
    <h4><img src="/static/images/dragon_18265625.gif" alt="An open book with movind green neaon fire gif." width="50px">Developmental Editing</h4>
    <ol class="service-list">
        <li>
            We'll analyse the big-picture elements of your story, including:
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Plot structure and pacing.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Character development and arc.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Theme and narrative consistency.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Overall story coherence and impact.
            </ul>
        </li>
        <br>
        <h4><img src="/static/images/dragon_18265625.gif" alt="An open book with movind green neaon fire gif." width="50px">Line Editing</h4>
        <li>
            We'll fine-tune your prose on a sentence-by-sentence level, focusing on:
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Clarity and conciseness of language.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Sentence structure and flow.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Word choice and voice.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Dialogue effectiveness.
            </ul>
        </li>
        <br>
        <h4><img src="/static/images/dragon_18265625.gif" alt="An open book with movind green neaon fire gif." width="50px">Copy Editing</h4>
        <li>
            We'll meticulously refine your manuscript for:
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Grammar, punctuation, and spelling errors.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Consistency in style and formatting.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Accuracy of facts and details.
            </ul>
        </li>
        <br>
        <h4><img src="/static/images/dragon_18265625.gif" alt="An open book with movind green neaon fire gif." width="50px">Proofreading</h4>
        <li>
            As a final polish, we'll catch any remaining errors in:
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Typos and misspellings.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Punctuation and grammar.
            </ul>
            <ul>
                <img src="/static/images/book_10164261.gif" alt="An open book with movind green neaon fire gif." width="30px">Formatting inconsistencies.
            </ul>
        </li>
    </ol>

</div>
<br>
<h1 style="text-align: center;"> Services</h1>
<br>
<div class="row card-page-sizing">
    <div class="col-md-6 card-color-view">
        {% for service in services %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="card text-center">
            <div class="card-header card-sizing">
                {{ service.get_category_display }}
            </div>
            <div class="card-body">
                {% if service.profile_image %}
                <img class="service-img-view" src="{{ service.profile_image.url }}" alt="{{ service.name }} image">
                {% endif %}
                <h3 class="card-title">{{ service.name }}</h3>
                <p class="card-text">{{ service.description | safe }}</p>
                <p class="card-text">{{ service.word_count_range }}</p>
                <a href="#bottom" class="btn btn-primary">Order Now!</a>
            </div>
            <div class="card-footer text-muted">
                £{{ service.min_price }} - £{{ service.max_price }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-6">
        {% for service in services %}
        {% if not forloop.counter|divisibleby:2 %}
        <div class="card text-center">
            <div class="card-header card-sizing">
                {{ service.get_category_display }}
            </div>
            <div class="card-body">
                {% if service.profile_image %}
                <img class="service-img-view" src="{{ service.profile_image.url }}" alt="{{ service.name }} image">
                {% endif %}
                <h3 class="card-title">{{ service.name }}</h3>
                <p class="card-text">{{ service.description | safe }}</p>
                <p class="card-text">{{ service.word_count_range }}</p>
                <a href="#bottom" class="btn btn-primary">Order Now!</a>
            </div>
            <div class="card-footer text-muted card-sizing">
                £{{ service.min_price }} - £{{ service.max_price }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>






<h2>Place an Order</h2>

<form method="post" id="bottom">
    {% csrf_token %}
    {{ order_form.as_p }}
    <button type="submit" class="btn btn-primary">Order Now</button>
</form>


{% endblock %}